*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8E114;
    
}



.container a{
     position:absolute;
     display: block;
     text-decoration: none;
     top: 650px;
     left: 263px;
     font-family: Segoe UI;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     color: #fff;
     transition: 1.3s;
     direction: 0.5s;
} 


h1{
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    color: #fff;
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 34px;
}

.hearts_Left{
 position: absolute;
 width: 681px;
 height: 652.95px;
 left: 50px;
 top: 50px;
}

.hearts_Right{
    position: absolute;
    width: 681px;
    height: 652.95px;
    left:780px;
    top: 50px;
   }
   
.form_controlemail{
    position: absolute;
    border-radius: 30px;
    width: 625px;
    height: 53.12px;
    left: 52px;
    top: 222.36px;
    align-items: center;
    z-index: 2;
    border: none;
    padding-left: 20px;
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
}   


.form_controlpass{
    position: absolute;
    
    width: 625px;
    height: 53.12px;
    left: 52px;
    top: 370.65px;
    border: none;
    align-items: center;
    z-index: 2;
    border-radius: 30px;
    padding-left: 20px;
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
}   
   




.btn-form{
    position: absolute;
    width: 310px;
    height: 50.12px;
    align-items: center;
    top: 280.74px;
    margin-top:290px;
    z-index: 0;
    left: 220px;
    border-radius: 9px;
    border: none;
    color: #fff;
    background-color: #000;
    opacity: 80%;
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 29px;
transition: 0.5s;
color: #FFFEFE;
}

.container{
    position: absolute;
    width: 769px;
    height: 720px;
    left: 360px;
    z-index: 1;
}

.fon{
    position: absolute;
    width: 769px;
    height: 720px;
    left: 350px;
    background: #000;
   z-index: 0;
   opacity: 90%;    
}



/* анимация при наведении */


.btn-form:hover{
    transition: 1.5s;
     background-color: #FFFEFE;
     color: #000;
}

a:hover{
    
    transition: 0.2s;
    text-decoration: underline #C5C5C5;
    color: #C5C5C5;
    
}







